<div class="container-index">
  <h1>Translators</h1>
  <div class="cards-index">
    <% if @translators.empty? %>
      <h2>There are no translators that match your conditions!</h2>
    <% else %>
      <% @translators.each do |translator| %>
        <div class="card-pick">
          <% if translator.photo.attached? %>
            <%= cl_image_tag translator.photo.key, crop: :fill, class: "img" %>
          <% else %>
            <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/background-of-green-and-healthy-grass-royalty-free-image-1586800097.jpg?crop=1xw:0.72655xh;center,top&resize=1200:*" class="img-fluid" alt="Responsive image">
          <% end %>
          <h5>Name: <%= translator.user.name %></h5>
          <p>Languages: <%= translator.languages %></p>
          <p>Availability: <% if translator.availability?%>
              〇
            <% else %>
              X
            <% end%>
          </p>
          <p>Rate: <%= translator.rates %></p>
          <%= link_to 'Description', translator_path(translator) %>
        </div>
      <% end %>
    <% end %>
  </div>
  <% if current_user.translator.present? %>
    <%= link_to "Edit", edit_translator_path(current_user.translator.id), class: "btn btn-flat" %>
  <% else %>
    <a class="navbar-right" href="<%= new_translator_path %>"><button type="button" id="button" class="btn btn-success">Add your translator profile</button></a>
  <% end %>
  <br>
  <%= button_to "logout", destroy_user_session_path, method: :delete  %>
  <div id="map"
      style="width: 100%; height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>