<body class="wallpaper">
  <div class="container">
    <h1>Book <%= @translator.user.name %></h1>
    <div class="row justify-content-center">
      <%= simple_form_for [ @translator, @booking ] do |f| %>
        <%= f.input :description, label:"Please describe what you need help with" %>
        <%= f.input :date_time, as: :date, html5:true, label:"Pick a date" %>
        <%= f.button :submit, label:"Book", class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="nav-list">
      <ul>
        <li><%= link_to "Cancel", translator_path(@translator) %></li>
        <li><%= link_to "Back to index", translators_index_path %></li>
      </ul>
    </div>
  </div>
</body>
