<h1>Bookings you have received</h1>

<% if @bookings.exists? %>
  <ul>
    <% @bookings.each do |booking| %>
      <% if current_user == booking.translator.user %>
        <li>Requester name: <%= booking.user.name %></li>
        <li>Description: <%= booking.description %></li>
        <li>Status: <%= booking.status %></li>

        <div class="btn-group">
          <%= link_to "Accept", {controller: "dashboards", action: "accept", id: booking.id}, class: "btn btn-success" %></button>
          <%= link_to "Decline", {controller: "dashboards", action: "decline", id: booking.id}, class: "btn btn-danger" %></button>
        </div>

      <% end %>
    <% end %>
    <hr>
  </ul>
<% else %>
  <h1>Sorry no bookings</h1>
<% end %>

<!-- Status should be changed to "rejected"
this logic probably belongs in the controller -->


<br>
<br>
<br>

<h1>Bookings you made</h1>

<% if @bookings.exists? %>
  <ul>
    <% @bookings.each do |booking| %>
      <% if current_user == booking.user %>
<!--       currently this displays the user's name, not the translators' name.
 -->        <li>Translator name: <%= booking.translator.user.name %></li>
        <li>Description: <%= booking.description %></li>
        <li>Status: <%= booking.status %></li>
      <% end %>
    <% end %>
    <hr>
  </ul>
<% else %>
  <h1>Sorry no bookings</h1>
<% end %>

<%= link_to 'Translators', translators_path %>
