<div class="container">
  <h1>Bookings you have received</h1>
  
  <div class="cards">
      <% if @bookings.exists? %>
          <% @bookings.each do |booking| %>
            <% if current_user == booking.translator.user %>
            <div class="card-pick">
                <ul>
                  <li><%= booking.user.name %></li>
                  <li><%= booking.description %></li>
                  <li><%= booking.status %></li>
                </ul>
            </div>
            <% end %>
          <% end %>
      <% else %>
        <h1>Sorry no bookings</h1>
      <% end %>     
  </div>
</div>

<div class="container">
  <h1>Bookings you made</h1>
  <div class="cards">
      <% if @bookings.exists? %>
            <% @bookings.each do |booking| %>
                <% if current_user == booking.user %>
                  <div class="card-pick">
                    <ul>
                      <li><%= booking.translator.user.name %></li>
                      <li><%= booking.description %></li>
                      <li><%= booking.status %></li>
                    </ul>
                  </div>
                    <% end %>
                  <% end %>                
              <% else %>
                <h1>Sorry no bookings</h1>
              <% end %>   
       
  </div>

</div>
<%= link_to 'Translators', translators_path %>