<!DOCTYPE html>
<html>
  <head>
    <title>Renterpreter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>
  <body>
    <!-- header -->
    <div class="navbar navbar navbar-light bg-light">
      <%= link_to root_path do %>
        <%= image_tag("https://res.cloudinary.com/djduvb702/image/upload/v1611908575/Renterpreter_temp-logo_z9dnyr.png", width: 40, height: 40) %>
      <% end %>
      <!--       We need to replace the placeholder image below with the user's uploaded profile pic -->
      <%= image_tag "https://res.cloudinary.com/dgxnxohzx/image/upload/v1612061042/interpretation-bot_stl5v4.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <ul>
          <li><%= link_to "View Bookings", profile_path, class: "dropdown-item" %></li>
          <li><%= link_to "Edit Translator Profile",  edit_translator_path(:translator_id), class: "dropdown-item" %></li>
          <li><hr class="dropdown-divider"></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
        </ul>
      </div>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </html>
