<!DOCTYPE html>
<html>
  <head>
    <title>Renterpreter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>



    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>

    <!-- header -->
    <div class="navbar navbar navbar-light bg-light">
        <%= link_to root_path do %>
           <%= image_tag("https://res.cloudinary.com/djduvb702/image/upload/v1611908575/Renterpreter_temp-logo_z9dnyr.png", width: 40, height: 40) %>
        <% end %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span></span>
          <span></span>
          <span></span>
          <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

</html>
